* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: 600;
    font-size: 24px;
  
    /* line-height: 32px; */
    line-height: 133%;
    letter-spacing: 0.04em;
}

h2 {
  font-weight: 600;
    font-size: 24px
}

img {
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
}

.categories {
  display: flex;
  flex-direction: column;
  
  column-gap: 24px;
  max-width: 392px;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: #f6f6fe;
  border-radius: 8px;
  margin-bottom: 24px;
 justify-content: start;
  max-width: 392px;
}

.item > ul > li {
  padding: 8px 16px;
  width: 100%;
  border: 1px solid #808080;
    border-radius: 4px;
    margin-bottom: 8px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;

}

.gallery > li {
  width: calc((100% - 48px) / 3);
  /* max-width: 360px; */
  max-height: 300;
}

#name-input {
  border: 1px solid #808080;
    border-radius: 4px;
  padding: 8px 16px;
  width: 360px;
}

#name-input:hover {
  border: 1px solid #000;
}

p:placeholder-shown {
  font-weight: 400;
    font-size: 16px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form > label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

.login-form > label > input {
  border: 1px solid #808080;
    border-radius: 4px;
    padding: 8px 16px;
    width: 360px;
}

.login-form>label>input:hover {
  border: 1px solid #000;
}

.login-form>label>input:active {
  border: 1px solid #808080;
  font-weight: 400;
    font-size: 16px;
  
    /* line-height: 24px; */
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.login-form > button {
  border: transparent;
  border-radius: 8px;
    padding: 8px;
    background: #4e75ff;
    width: 86px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
      font-size: 16px;
    
      /* line-height: 24px; */
      line-height: 150%;
      letter-spacing: 0.04em;
      color: #fff;
}

.login-form > button:hover,
.login-form>button:active {
  background: #6c8cff;
}

.widget {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.change-color {
  border-radius: 8px;
    padding: 8px ;
    width: 148px;
    background: #4e75ff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
      font-size: 16px;
    
      /* line-height: 24px; */
      line-height: 150%;
      letter-spacing: 0.04em;
      color: #fff;
      border: transparent;
}

.change-color:hover,
.change-color:active {
  background: #6c8cff;
}


